.grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 25rem;
  place-items: stretch;
}

.animated-card {
  animation: scaleIn 1s ease-out
}

@keyframes scaleIn {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}